<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <filter>
    <filter-name>FiltroLenguajeDelCliente</filter-name>
    <filter-class>filtros.FiltroLenguajeDelCliente</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLenguajeDelCliente</filter-name>
    <url-pattern>/LoginMultilenguaje</url-pattern>
  </filter-mapping>
  
 <servlet>
    <servlet-name>LoginMultilenguaje</servlet-name>
    <servlet-class>misServlets.LoginMultilenguaje</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>misServlets.LoginUser</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>Productos</servlet-name>
    <servlet-class>misServlets.Productos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TerminarSesion</servlet-name>
    <servlet-class>misServlets.TerminarSesion</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TerminarSesion</servlet-name>
    <url-pattern>/TerminarSesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/Productos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>LoginMultilenguaje</servlet-name>
    <url-pattern>/LoginMultilenguaje</url-pattern>
  </servlet-mapping>
 
</web-app>